<header>
    <div class="header-content">
        <div>
            <img src="img/logo_small.png">
        </div>
        <div class="header-content-inner">
            <h1>The Best Transportation Experience in Nassau</h1>
            <hr>
            <p><font color="black">Our service includes airport transportation, the island tours, food tasting and rum sampling trips, and many more.</font></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
