<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/11.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/12.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/13.jpg" class="img-responsive" alt="">

            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/14.jpg" class="img-responsive" alt="">

            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/15.jpg" class="img-responsive" alt="">

            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/16.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>
