<section id="pricing">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Pricing Info</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-plane wow bounceIn text-primary"></i>
                  <h3>Airport Shuttling</h3>
                  <p class="text-muted">Comfortable and cost effective shuttle service to and from Nassau Lynden Pindling International Airport (LPIA). </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-cutlery wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>Food Tasting Tours</h3>
                  <p class="text-muted">Taste, touch and visit authentic locations! Taste incredible food which contribute to Bahama's delicious and diverse melting pot. </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-glass wow bounceIn text-primary" data-wow-delay=".2s"></i>
                  <h3>Rum Sampling Trips</h3>
                  <p class="text-muted">If you like savoring quality liquor, want to learn how it is made, or even want to try it for the first time we can take you there.</p>
              </div>
          </div>
      </div>
  </div>
</section>
